/* Estilos generales */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9e5;
}

header {
  background-color: #d6e8a3;
  padding: 0; /* Eliminar padding para que la toolbar ocupe todo el ancho */
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white; /* Fondo blanco */
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.toolbar input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px; /* Ancho fijo para el campo de búsqueda */
}

.user-info {
  font-size: 1rem;
  font-weight: normal; /* Texto sin negrita */
}

.page-title {
  text-align: left;
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
}

.page-container {
  display: flex;
}

/* Estilos del menú */
nav {
  flex: 0 0 15rem;
  background-color: #5c432d;
  color: #fff;
  padding: 1rem;
}

.menu-container {
  display: flex;
  flex-direction: column;
}

.menu-title {
  text-align: left;
  padding-left: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  background-color: #d6c9b2;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  text-align: left;
}

/* Estilo de las tarjetas */
main {
  flex: 1;
  padding: 2rem; /* Añade espacio alrededor del contenido principal */
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Primera y segunda fila con cuatro columnas */
  gap: 1.5rem;
  margin: 0 auto;
  padding: 2rem 0;
  max-width: 1200px; /* Limita el ancho máximo para centrar el contenido */
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-bottom: 0.5rem;
}

.member-name {
  font-size: 1rem;
  font-weight: bold;
}

/* Centrado de la tercera fila */
.list > .card:nth-child(9),
.list > .card:nth-child(10) {
  grid-column: span 2; /* Cada tarjeta ocupa dos columnas */
  justify-self: center;
}

/* Estilo del footer */
footer {
  background-color: #d6e8a3;
  text-align: center;
  padding: 1rem;
  font-weight: bold;
  margin-top: 2rem;
}
