// Definimos un mixin para generar las cajas de colores
@mixin generate-color-classes($color, $name) {
  @for $i from 1 through 4 {
    .#{$name}-darken-#{$i} { 
      background-color: darken($color, $i * 5%); 
      color: #fff; 
    }
    .#{$name}-lighten-#{$i} { 
      background-color: lighten($color, $i * 5%); 
      color: #333; 
    }
  }
  .#{$name}-base-color {
    background-color: $color;
    color: #fff;
  }
}

// Generamos las clases de colores usando el mixin
@include generate-color-classes(#e74c3c, "red");
@include generate-color-classes(#3498db, "blue");
@include generate-color-classes(#2ecc71, "green");

.container {
  display: flex;
  flex-direction: column;
  gap: 10px; // Espacio reducido entre las filas
}

.container > div {
  display: flex;
  gap: 5px; // Espacio reducido entre las cajas
}

.box {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: 'Roboto', sans-serif; /* Fuente Roboto */
  margin: 2px; // Margen reducido para acercar las cajas
  border-radius: 8px; // Esquinas redondeadas
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); // Sombra sutil
}
