// Importa los temas
//@use 'theme-a' as *; // Descomenta esta línea para ver el tema A
@use 'theme-b' as *; // Descomenta esta línea para ver el tema B

// Estilo para limitar el ancho de los contenedores y centrar
.container {
    max-width: 300px; // Ancho máximo para el contenedor
    margin: 20px auto; // Centra el contenedor en la página
    padding: 10px; // Espaciado interno
}
